
.Select {
    width: 100%;
    background: #FFFFFF url("sel.png") no-repeat 95% 50%;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    padding: 16px;
    appearance: none;
    color: #7C9CBF;
    cursor: pointer;
    position: relative;
}
.Select.active{
    border: 2px solid #0880AE;
}